In [9]:
from sklearn.preprocessing import MinMaxScaler
from sklearn import preprocessing

In [2]:
import pandas as pd

In [13]:
df = pd.DataFrame({30,40,35,57,15})

In [14]:
df

    0
0  35
1  40
2  57
3  30
4  15

In [15]:
r_scaler = preprocessing.RobustScaler()

In [16]:
df_r = r_scaler.fit_transform(df)

In [17]:
df_r

array([[ 0. ],
       [ 0.5],
       [ 2.2],
       [-0.5],
       [-2. ]])

# Практическая часть

In [18]:
data = pd.read_csv('data/new-site.csv', sep='\t')
data.head()

   site  dwell-time
0     0           2
1     1          48
2     0          15
3     1          16
4     0          38

In [26]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   site        300 non-null    int64
 1   dwell-time  300 non-null    int64
dtypes: int64(2)
memory usage: 4.8 KB

In [21]:
data['dwell-time'].sum()

26930

In [19]:
data_sum = data.groupby('site').agg('sum')

In [20]:
data_sum

      dwell-time
site
0          16898
1          10032

In [22]:
data_mean = data.groupby('site').agg('mean')

In [23]:
data_mean

      dwell-time
site
0      90.849462
1      88.000000

In [27]:
data_a = data[data['site'] == 0]
data_a.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186 entries, 0 to 299
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   site        186 non-null    int64
 1   dwell-time  186 non-null    int64
dtypes: int64(2)
memory usage: 4.4 KB

In [28]:
data_b = data[data['site'] == 1]
data_b.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 114 entries, 1 to 297
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   site        114 non-null    int64
 1   dwell-time  114 non-null    int64
dtypes: int64(2)
memory usage: 2.7 KB

In [30]:
from scipy.stats import shapiro

In [40]:
shapiro(data_a)[1]*100

5.475651749045561e-27

In [41]:
shapiro(data_b)[1]*100

5.0936868556978326e-21

In [42]:
import scipy

In [45]:
stat, p = scipy.stats.mannwhitneyu(data_a, data_b)

In [49]:
print(p)

[5.51801809e-67 8.95811197e-01]