In [1]:
from sklearn.metrics import ndcg_score, dcg_score
import numpy as np

true = np.asarray([[3, 2, 1, 0, 0]])
relevance = np.asarray([[3, 2, 0, 0, 1]])

print(ndcg_score(true, relevance))

#0.980840401274087

0.980840401274087

In [2]:
true = np.asarray([[2, 4, 1, 1, 1]])
relevance = np.asarray([[2, 5, 2, 3, 1]])

print(ndcg_score(true, relevance))

#0.980840401274087

0.9748317848747132

In [3]:
import pandas as pd

In [4]:
ratings = pd.read_csv('data/dst-3.0_mathml_14_5_rating.csv')
movies = pd.read_csv('data/movie.csv')

In [5]:
df=pd.merge(ratings,movies, how='left',on='movieId')
df.head()

,userId,movieId,rating,timestamp,title,genres
0,1,2,3.5,2005-04-02 23:53:47,Jumanji (1995),Adventure|Children|Fantasy
1,1,29,3.5,2005-04-02 23:31:16,"City of Lost Children, The (Cité des enfants p...",Adventure|Drama|Fantasy|Mystery|Sci-Fi
2,1,32,3.5,2005-04-02 23:33:39,Twelve Monkeys (a.k.a. 12 Monkeys) (1995),Mystery|Sci-Fi|Thriller
3,1,47,3.5,2005-04-02 23:32:07,Seven (a.k.a. Se7en) (1995),Mystery|Thriller
4,1,50,3.5,2005-04-02 23:29:40,"Usual Suspects, The (1995)",Crime|Mystery|Thriller

In [6]:
df['title'].value_counts()

Pulp Fiction (1994)                 67310
Forrest Gump (1994)                 66172
Shawshank Redemption, The (1994)    63366
Silence of the Lambs, The (1991)    63299
Jurassic Park (1993)                59715
                                    ...
Richard III (1912)                      1
The Nautical Chart (2007)               1
Two Arabian Knights (1927)              1
Night Flight (1933)                     1
Série noire (1979)                      1
Name: title, Length: 26729, dtype: int64

In [7]:
df_agg = pd.DataFrame(df.groupby(['title'], as_index=False)['rating'].agg('mean'))
df_agg.sort_values(['rating','title'])

                                                   title  rating
97                                13 Fighting Men (1960)     0.5
155                                20 Years After (2008)     0.5
223    3 Holiday Tails (Golden Christmas 2: The Secon...     0.5
225         3 Little Ninjas and the Lost Treasure (1990)     0.5
327           6 Desires: DH Lawrence and Sardinia (2014)     0.5
...                                                  ...     ...
25607                        Welcome to Australia (1999)     5.0
25751                                 When I Walk (2013)     5.0
25918                    Who Killed Vincent Chin? (1987)     5.0
26430     Year Zero: The Silent Death of Cambodia (1979)     5.0
26482                                 Yonkers Joe (2008)     5.0

[26729 rows x 2 columns]

In [8]:
df.groupby(['title'])['rating'].agg('mean')[df.groupby(['title'])['rating'].agg('count') > 50].sort_values(ascending=False)

title
Shawshank Redemption, The (1994)       4.446990
Godfather, The (1972)                  4.364732
Usual Suspects, The (1995)             4.334372
Schindler's List (1993)                4.310175
Godfather: Part II, The (1974)         4.275641
                                         ...
Barney's Great Adventure (1998)        1.163484
Glitter (2001)                         1.124088
Bratz: The Movie (2007)                1.105556
From Justin to Kelly (2003)            0.973005
SuperBabies: Baby Geniuses 2 (2004)    0.837321
Name: rating, Length: 10472, dtype: float64